name: Build Pull Request

on:
  pull_request:
    branches:
      - '**'

concurrency:
   group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
   cancel-in-progress: true

jobs:

  cpp-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cpp-linter/cpp-linter-action@main
        id: linter
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: microsoft
          ignore: include/argparse
          lines-changed-only: true
          thread-comments: true
          format-review: true
          tidy-checks: '-*'

      - name: Fail fast?!
        if: steps.linter.outputs.checks-failed != 0
        run: |
          echo "some linter checks failed. ${{ steps.linter.outputs.checks-failed }}"
          exit 1

  build-n-test:
    runs-on: [gpu]

    strategy:
      matrix:
        target: [develop]
        os: [ubuntu22.04, ubuntu24.04]
        cuda_version: [12.5.1, 13.0.2]
        optix_version: [7.7.0]
        geant4_version: [11.3.2]
        cmake_version: [3.22.1]

        include:
          - target: release
            os: ubuntu24.04
            cuda_version: 13.0.2

    steps:
      - name: Define environment variables
        run: |
          echo IMAGE_NAME=ghcr.io/$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV
          echo IMAGE_TAG=$(echo "PR-${{ github.event.pull_request.number }}-${{ matrix.cuda_version }}-${{ matrix.target }}-${{ matrix.os }}") >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push with Docker
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
          target: ${{ matrix.target }}
          build-args: |
            OS=${{ matrix.os }}
            CUDA_VERSION=${{ matrix.cuda_version }}
            OPTIX_VERSION=${{ matrix.optix_version }}
            GEANT4_VERSION=${{ matrix.geant4_version }}
            CMAKE_VERSION=${{ matrix.cmake_version }}
          load: true
          cache-from: type=local,src=/home/runner/.buildx-cache
          cache-to: type=local,dest=/home/runner/.buildx-cache-new,mode=max

      - name: Move cache
        # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        run: |
          rm -rf /home/runner/.buildx-cache
          mv /home/runner/.buildx-cache-new /home/runner/.buildx-cache

      - name: Run tests
        if: ${{ matrix.target == 'develop' }}
        run: |
          docker run --rm ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} /src/eic-opticks/tests/test_opticks.sh
          docker run --rm ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} /src/eic-opticks/tests/test_simg4ox.sh
