name: Build Pull Request

on:
  pull_request:
    branches:
      - '**'

concurrency:
   group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
   cancel-in-progress: true

jobs:

  cpp-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cpp-linter/cpp-linter-action@main
        id: linter
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: microsoft
          ignore: include/argparse
          lines-changed-only: true
          thread-comments: true
          format-review: true
          tidy-checks: '-*'

      - name: Fail fast?!
        if: steps.linter.outputs.checks-failed != 0
        run: |
          echo "some linter checks failed. ${{ steps.linter.outputs.checks-failed }}"
          exit 1

  build-n-test:
    runs-on: [gpu]

    strategy:
      matrix:
        target: [release, develop]

    steps:
      - name: Define environment variables
        run: |
          echo IMAGE_NAME=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_ENV
          echo IMAGE_TAG=$(echo "PR-${{ github.event.pull_request.number }}-${{ matrix.target }}") >> $GITHUB_ENV

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push with Docker
        uses: docker/build-push-action@v6
        with:
          load: true
          tags: |
           ghcr.io/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
          target: ${{ matrix.target }}
          cache-from: type=local,src=/home/runner/.buildx-cache
          cache-to: type=local,dest=/home/runner/.buildx-cache,mode=max

      - name: Run tests
        run: |
          docker run --rm ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} /src/eic-opticks/tests/test_opticks.sh
          docker run --rm ghcr.io/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} /src/eic-opticks/tests/test_opticks.sh
          docker run --rm ghcr.io/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} /src/eic-opticks/tests/test_simg4ox.sh
